/* ===================================
Content.css wird in style.css per @import 
eingebunden
===================================== */

/* Hyperlinks im Inhalzsbereich gestalten */
/* ============================================= */

.site-content a:link {color: #07b;}
.site-content a:visited {color: #3ad;}
.site-content a:hover, .site-content a:focus { color: #f63}
.site-content a:active {color: #ec3;}
.site-content a[href^="http"]::after {
    content: " \2197";
}

/* ================================================================= */

/* Grundlegende Gestaltung der infoboxen */

.infoboxen {
    background-color: #eee;
    padding: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
    .infoboxen > .inside {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
} 
    


.infobox {
    text-align: center;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-flow: column;
}

.infobox :last-child {
    margin-top: auto;
}

/* ================================================================ */

/* Grundlegende Gestaltung der Kundenstimmen */

@media screen and (min-width: 600px) {
    .kundenstimmen > .inside {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    .kundenstimmen h2:first-child {grid-column: 1 / 3;}
}

.kundenstimme {
    text-align: center;
    background-color: #eee;
    color: black;
    background-image: linear-gradient(to right, #eee, whitesmoke);
    box-shadow: 0 1px 3px rgb(51, 51, 51,0.3);
    padding: 1rem;
    border-left: 3px solid #07b;
    margin: 0;
    margin-bottom: 1rem;
}

.kundenstimme blockquote {
    margin: 0;
}

.kundenstimme p:first-child {
    font-size: 1.25rem;
    font-weight: bold;
}

/* ================================================================ */

/* Grundlegende Gestaltung der Inhalte auf Newsseite */

@media screen and (min-width: 600px) {
    .seite-news .site-content > .inside {
      display: grid; 
      grid-template-columns: 2fr 1fr; 
      grid-column-gap: 3rem; 
      grid-row-gap: 1rem; 
      grid-template-areas: 
        "intro intro"
        "beitragsliste sidebar";
    } 
  
    .seite-news .content-intro { grid-area: intro; } 
    .seite-news .beitragsliste { grid-area: beitragsliste; } 
    .seite-news .linklisten    { grid-area: sidebar; } 
}

.beitragsliste h3, .linklisten h3 {
    padding-top: 0.5rem;
    border-top: 1px solid whitesmoke;
    margin-bottom: 0.25rem;
}

.beitragsliste article, .linklisten section {
    margin-bottom: 3rem;
}

.beitragsinfo {color: gray;}


/**
  * Inhalte auf der Seite Über uns 
  */ 
  .mitglieder { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 1rem; 
  
    list-style: none; 
    padding: 0; 
    margin: 0; 
  }
  .mitglied { 
    text-align: center;
    padding: 0.5rem;
    border: 1px solid #999; 
  }
  .mitglied h3 { 
    background: #07b; color: white; 
    font-size: 1.25rem;
    padding: 1rem; 
    margin: -0.5rem -0.5rem 1rem -0.5rem
  }


.infobox img {
    height: 5rem;
    width: auto;
    color: blue;
}
 

/* ================================================================ */

/* content.css Ende */