/* ===================================
Forms.css wird in style.css per @import 
eingebunden
===================================== */

/* Grundlegende Gestaltung Kontaktformular */
.kontaktformular form {
    max-width: 580px;
    background-color: #eee;
    padding: 1rem;
}

.kontaktformular div {margin-bottom: 1rem;}
.kontaktformular label {cursor: pointer;}
.kontaktformular label[for] {display: block;}
.kontaktformular button {
    background-color: #07b;
    color: white;
    padding: 0.5rem;
    border: none;
    font-size: inherit;
    cursor: pointer;
}   


/* =============================================== */
/* forms.css Ende */